This file contains all the generic information for Cline to work on this project.

## MCP
Don't forget that you have tools such as web search or deepseek, a more powerful LLM, that you can use at any time to ask for advice and guidance on complex tasks especially if they require external knowledge.

## WEBSERVER
Don't use other ports than 8000 for testing, you shouldn't even have to start a webserver I have one running thats why your command to start it fails.